/* Add account form styles */

#new-account-form h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #294659;
    text-shadow: 0px 0px 1px black;
    margin-bottom: 30px;
    &:hover {
        cursor:default;
    }
}

#new-account-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    width: 80%;
    min-width:275px;
    max-width: 450px;
    box-shadow: 5px 5px 10px black;
    padding: 5rem 0;
    border-radius: .5rem;
    @media (max-width:600px) {
        padding: 2rem 0;
    }
}

#new-account-form input {
    padding: .4rem 1rem;
    width: 90%;
    min-width: 200xp;
    border-radius: .5rem;
    font-size: 1rem; 
    &:focus {
        box-shadow: 2px 2px 10px black;
        outline: none;
    }
    &::placeholder {
        font-weight: bold;
    }
}

#form-btn-container {
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 90%;
    min-width: 200px;
}

#form-btn-container button {
    min-width: 150px;
    flex: 1 1 0;
    background-color: #294659;
    border-radius: .5rem;
    border:1px solid black;
    box-shadow: 0px 0px 2px black;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 4px black;
    &:hover{
        box-shadow: 2px 2px 10px black;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 2px 2px 10px black;
    }
}

#form-btn-container a {
    color: white;
    text-decoration: none;
    display: block;
}

.button-size {
    padding: .5rem 0;
}