* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
}

main {
    max-width: 1440px;
    position: relative;
    min-height: 100vh;
}

footer {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:1.25rem;
    outline:1px solid black;
    gap: 1rem;
    font-weight: bold;
    color:black;
}



/* Navbar Styles */

#base-nav {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    font-weight: bold;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 4px black;
}

#website-name {
    font-size:x-large;
}

#nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 35px;
    &:hover {
        outline: 1px solid black;
        border-radius: .5rem;
        box-shadow: 0px 0px 4px black;
    }
   
}

.nav-link {
    text-decoration: none;
    padding: .25rem .50rem;
    color:black;
}

#menu-symbol {
    padding: .25rem .50rem;
    height: 100%;
    width: 100%;
    fill: black;
    &:hover {
        cursor: pointer;
    }
}


/* Sidebar styles */

#base-sidebar {
    position:absolute;
    top:100%;
    right:0px;
    outline:1px solid black;
    overflow: hidden;
    transition: max-width .3s ease-in-out;
    height: 100vh;
    max-width: 300px;
    
}

#sidebar-list {
    list-style-type: none;
    font-size: 1.25rem;
    color:black;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 35px;
    &:hover {
        outline: 1px solid black;
        border-radius: .5rem;
        box-shadow: 0px 0px 4px black;
    }
}

.sidebar-link {
    padding: .25rem .50rem;
    text-decoration: none;
    color:black
}

#close-symbol {
    padding: .25rem .50rem;
    width: 100%;
    height: 100%;
    fill: black;
}


/* Footer Styles */
#contact-header{
    font-size: x-large;
}

#contact-list {
    list-style-type: none;
    text-align: center;
}


/* utilities styles */

.hidden {
    max-width: 0px !important;
}