* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    font-family: "Times New Roman", Times, serif;
}

body {
    background-color: #294659;
}

header {
    position: relative;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #294659;
    min-height: 50px;
}

main {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: white;
    padding: 2rem 0;
}

footer {
    width: 100%;
}



/* Navbar Styles */

#base-nav {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    width: 100%;
    font-weight: bold;
    box-shadow: 0px 0px 4px black;
    background-color: #294659;
    text-shadow: 1px 1px 4px black;
}

#website-name {
    font-size:1.5rem;
    @media (max-width:600px) {
        font-size: 1.25rem;
    }

    &:hover {
        text-shadow: 2px 2px 4px black;
    }    
}


#header-link {
    text-decoration: none;
    color:inherit
}

#nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 0.75rem;
    @media (max-width:600px) {
        font-size: 1rem;
    }
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height:35px;
    
    &:hover {
        outline: 1px solid white;
        border-radius: .5rem;
        box-shadow: 1px 1px 4px white;
    }
    &:active{
        box-shadow: inset 1px 1px 4px white;
    }
   
}

.nav-link {
    text-decoration: none;
    padding: .25rem .50rem;
    color:white;
    text-shadow: 1px 1px 4px black;
    
}

#nav-login-link {
    @media (max-width:600px) {
        display: none !important;
    }
}

#hello-msg {
    &:hover {
        outline: none;
        box-shadow: none;
        text-shadow: 2px 2px 4px black;
        cursor: default;
    }

    @media (max-width:600px) {
        display: none;
    }
}

#menu-symbol {
    padding: .25rem .50rem;
    height: 40px;
    width: 40px;
    fill: white;
    filter: drop-shadow(1px 1px 4px black);
    &:hover {
        cursor: pointer;
    }
}


/* Sidebar styles */

#base-sidebar {
    background-color: #294659;
    color: white;
    position:absolute;
    top:100%;
    right:0px;
    overflow: hidden;
    transition: width .2s ease-in-out;
    height: 100vh;
    width: 300px;
    text-shadow: 1px 1px 4px black;
    @media (max-width:600px) {
        width: 100%;
    }
    
}

#sidebar-list {
    position: relative;
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 2rem;
    gap: .75rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 35px;
    &:hover {
        outline: 1px solid white;
        border-radius: .5rem;
        box-shadow: 1px 1px 4px white;
    }
    &:active{
        box-shadow: inset 1px 1px 4px white;
    }
}

.sidebar-link {
    padding: .25rem .50rem;
    text-decoration: none;
    color:white
}

#close-btn {
    position:absolute;
    top: -20px;
    left: 10px;
}

#close-symbol {
    padding: .25rem .50rem;
    height: 40px;
    width: 40px;
    fill: white;
    filter: drop-shadow(1px 1px 4px black);
    &:hover{
        cursor: pointer;
    }
}

#hello-msg-sidebar {
    text-align: center;
    display: none;
    &:hover {
        outline: none;
        box-shadow: none;
        text-shadow: 2px 2px 4px black;
        cursor: default;
    }

    @media (max-width:600px) {
        display: block;
    }
}

#sidebar-login-link {
    display: none;
    @media (max-width:600px) {
        display: block;
    }
}

/* main styles */

#base-content {
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;
    margin:0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* Footer Styles */
#base-footer {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:1.25rem;
    gap: 1rem;
    font-weight: bold;
    color:white;
    background-color: #294659;
    text-shadow: 1px 1px 4px black;
}

#contact-header{
    font-size: x-large;
    &:hover {
        cursor: default;
    }
}

#contact-list {
    list-style-type: none;
    text-align: center;
    &:hover {
        cursor:default;
    }
}

.contact-link {
    color: #ADD8E6;
}

#author:hover {
    cursor: default;
}


/* messages styles */

#message-container {
    z-index: 200;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messages {
    list-style-type: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: fit-content;
}

.message{
    box-shadow: 1px 1px 4px black;
    padding: 1rem 1.5rem;
    color:#294659;
    background-color: white;
    border-radius: 1rem;
    transition: opacity 3s ease-in-out;
}

.success {
    color:green;
}

.error {
    color:red;
}

.info {
    color: black;
}

/* utilities styles */

.smooth-hidden {
    width: 0px !important;
}

.fast-hidden {
    display: none !important;
}

.fade {
    opacity: 0;
}

.disable-effects {
    pointer-events: none !important;
}


.fit-content {
    height: fit-content !important;
}
