* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body {
    background-color: white;
}

header {
    position: relative;
}

main {
    max-width: 1440px;
    position: relative;
    min-height: 100vh;
}

footer {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:1.25rem;
    outline:1px solid black;
    gap: 1rem;
    font-weight: bold;
    color:white;
    background-color: #294659;
    text-shadow: 1px 1px 4px black;
}



/* Navbar Styles */

#base-nav {
    z-index: 101;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-weight: bold;
    border-bottom: 1px solid black;
    box-shadow: 0px 0px 4px black;
    background-color: #294659;
    text-shadow: 1px 1px 4px black;
}

#website-name {
    font-size:1.5rem;
    @media (max-width:600px) {
        font-size: 1.25rem;
    }

    &:hover {
        text-shadow: 2px 2px 4px black;
        cursor: default;
    }
    
}

#nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    gap: 0.75rem;
    @media (max-width:600px) {
        font-size: 1rem;
    }
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height:35px;
    
    &:hover {
        outline: 1px solid white;
        border-radius: .5rem;
        box-shadow: 1px 1px 4px white;
    }
   
}

.nav-link {
    text-decoration: none;
    padding: .25rem .50rem;
    color:white;
    text-shadow: 1px 1px 4px black;
}

#menu-symbol {
    padding: .25rem .50rem;
    height: 40px;
    width: 40px;
    fill: white;
    filter: drop-shadow(1px 1px 4px black);
    &:hover {
        cursor: pointer;
    }
}


/* Sidebar styles */

#base-sidebar {
    background-color: #294659;
    color: white;
    position:absolute;
    top:99%;
    right:0px;
    overflow: hidden;
    transition: width .2s ease-in-out;
    height: 100vh;
    width: 200px;
    z-index: 102;
    text-shadow: 1px 1px 4px black;
    @media (max-width:600px) {
        width: 100%;
    }
    
}

#sidebar-list {
    position: relative;
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: bold;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    margin-top: 2rem;
    gap: .75rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        outline: 1px solid white;
        border-radius: .5rem;
        box-shadow: 1px 1px 4px white;
    }
}

.sidebar-link {
    padding: .25rem .50rem;
    text-decoration: none;
    color:white
}

#close-btn {
    position:absolute;
    top: -20px;
    left: 10px;
}

#close-symbol {
    padding: .25rem .50rem;
    height: 40px;
    width: 40px;
    fill: white;
    filter: drop-shadow(1px 1px 4px black);
    &:hover{
        cursor: pointer;
    }
}


/* Footer Styles */
#contact-header{
    font-size: x-large;
}

#contact-list {
    list-style-type: none;
    text-align: center;
}

.contact-link {
    color: #ADD8E6;
}


/* utilities styles */

.hidden {
    width: 0px !important;
}