/* Content styles */
#base-content {
    flex-wrap: wrap;
    gap: 2rem;
    align-items: start;
    

}


/* Shared new and all account styles */
#new-accounts-section, #accounts-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 5px 5px 10px black;
    border: 2px solid #294659;
    border-radius: .5rem;
    width: 90%;
    max-width: 600px;
    min-width: 250px;
    height: 500px;
    overflow: hidden;
}


#new-accounts-header, #accounts-header {
    padding: 1rem;
    color: white;
    background-color: #294659;
    width: 100%;
    text-align: center;
    font-size:1.5rem;
    text-shadow: 1px 1px 4px black;
    font-weight: bold;
    @media (max-width:600px) {
        font-size: 1.25rem;
    }
    &:hover {
        text-shadow: 2px 2px 4px black;
        cursor: pointer;
    }    
}


#accounts-container, #new-accounts-container {
    width: 100%;
    height:350px;
    padding: .25rem .25rem;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    justify-items: center;
    gap: .25rem;
    overflow-y: auto;
}

.account, .new-account {
    font-weight: bold;
    background-color: whitesmoke;
    border: 2px solid #294659;
    border-radius: .5rem;
    width: 100%;
    max-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    &:hover {
        box-shadow: 2px 2px 5px #294659;
        color: cyan;
    }
}


/* Saved account link styles */
.saved-account-link {
    text-decoration: none;
    color: #294659; 
    padding: .5rem .5rem;
    margin: auto 0;
    display: block;
    &:hover {
        color: lightblue;
    }
}


/* Account specific styles */
#account-container-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
}


#account-search {
    width: 100%;
    padding: .5rem .25rem;
    font-size: 1rem;
    border: 2px solid #294659;
    border-left:none;
    border-right: none;
    outline:none;
}


#accounts-btn-container {
    height: 50px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#accounts-btn-container button {
    width: 90%;
    border-radius: .5rem;
    border: 2px solid #294659;
    &:hover {
        box-shadow: 2px 2px 5px #294659;
    }
}

#accounts-btn-container a {
    text-decoration: none;
    color: #294659;
    padding: .6rem;
    display: block;
    font-weight: bold;
    font-size: 1rem;
    &:hover {
        color: lightblue;
    }
}
 
