/* index specific base content styles */
#base-content {
    padding: 0;
    justify-content: flex-start;
    gap: 2rem;
}
/* Index page img styles */
#home-img-container {
    width: 95%;
    height: 400px;
    border-radius: .5rem;
    box-shadow: 1px 1px 2px black;
    @media (max-width:600px) {
        height: 250px;
    }
    &:hover {
        box-shadow: 2px 2px 4px black;
    }
}

#home-img-container img {
    height: 100%;
    width: 100%;
    border-radius:.5rem;
}

/* Section header styles */
.section-header {
    border-radius: .5rem;
    width: 95%;
    padding: 1.5rem 10%;
    text-align: center;
    color:white;
    font-size: 2rem;
    background-color: #294659;
    text-shadow: 1px 1px 4px black;
    box-shadow: 1px 1px 2px black;
    &:hover {
        box-shadow: 2px 2px 4px black;
    }

}

/* Password Manager intro section stylings */
#pwd-manager-intro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    color: #294659;
}

#intro-text-container {
    padding: 4rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 1px 1px 2px black;
    flex-grow: 1;
    text-align: center;
    &:hover {
        box-shadow: 2px 2px 4px black;
    }
}




/* Passwords section stylings */
#pwd-section {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    gap: 2rem;color: #294659;
}

#pwd-section div {
    min-width: 250px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 1px 1px 4px black;
    &:hover {
        box-shadow: 2px 2px 4px black;
    }
}


#pwd-section a {
    padding: 4rem 10%;
    text-decoration: none;
    color: #294659;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    display: block;
    @media (max-width:600px) {
        font-size: 1.3rem;
    }
}


/* About us section stylings */
#about-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    color: #294659;
}

#about-text-container {
     padding: 4rem 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: whitesmoke;
    border-radius: .5rem;
    box-shadow: 1px 1px 2px black;
    flex-grow: 1;
    text-align: center;
    &:hover {
        box-shadow: 2px 2px 4px black;
    }
}

