#base-content {
    padding: 0;
    justify-content: flex-start;
    gap: 2rem;
}

/* Search container styles */
#search-container {
    width: 95%;
    background-color: whitesmoke;
    padding: 2.5rem 2rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px black;
}

#search-container input {
    width: 100%;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 2px solid #294659;
    text-align: center;
    font-size: .85rem;
    &:hover {
        box-shadow: 2px 2px 4px #294659;
    }
    &:focus {
        outline: none;
    }
}



/* pwds-container styles */
#pwds-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    gap: 1.5rem;
    color: #294659;
    background-color: whitesmoke;
    padding: 1rem 2.5%;
    border-radius: .5rem;
    box-shadow: 2px 2px 4px black;
}


#pwds-container h2 {
    flex: 3 1 50%;
    text-align: center;
    min-width: 250px;
    font-size: 2rem;
    &:hover {
        cursor: default;
    }
}

#pwds-btn-container {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: 1px solid black;
    border-radius: .5rem;
    box-shadow: 1px 1px 2px black;
    &:hover {
        box-shadow: 2px 2px 4px black;
    }
}

#pwds-btn-container a {
    text-decoration: none;
    color: #294659;
    font-weight: 600;
    font-size: .75rem;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: .30rem .60rem;

}


#plus-symbol {
    height: 24px;
    width: 24px;
    fill: #294659;
}


#pwds {
    width: 100%;  
    height: 600px; 
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}



.pwd {
    padding: .75rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    border-radius: .5rem;
    &:hover {
        box-shadow: 2px 2px 4px black;
    }
}
.pwd h4:hover {
    text-shadow: 0px 0px 1px black;
}

.pwd-symbols-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.delete-symbol, .edit-symbol {
    width: 24px;
    height: 24px;
    fill: #294659;
    text-shadow: 0 0 2px black;
    display: flex;
    align-items: center;
    &:hover {
        filter: drop-shadow(0px 0px 1px black);
        cursor: pointer;
    }
}


#pwds a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: fit-content;
}