/* Register page header styles */
#register-header {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #294659;
    text-shadow: 0px 0px 1px black;
    margin-bottom: 30px;
    &:hover {
        cursor:default;
    }
}


/* Register form styles */
#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    width: 30%;
    min-width:300px;
    box-shadow: 1px 1px 4px black;
    padding: 5rem 0;
    border-radius: .5rem;
}
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-form input {
    padding: .4rem 1rem;
    width: 90%;
    min-width: 200xp;
    border-radius: .5rem;
    font-size: 1rem;
    
    &::placeholder {
        font-weight: bold;
    }
}


#register-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 90%;
    min-width: 200px;
}

#register-btn-container button {
    min-width: 100px;
    width: 48%;
    background-color: #294659;
    border-radius: .5rem;
    border:1px solid black;
    box-shadow: 0px 0px 2px black;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 4px black;
    &:hover{
        box-shadow: 0px 0px 4px black;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0px 0px 4px black;
    }
}

#register-btn-container a {
    color: white;
    text-decoration: none;
    display: block;
}

#register-btn {
    opacity: 60%;
}

.button-size {
    padding: .5rem 0;
}

/* field status stylings */

#password1-status-msg, #password2-status-msg {
    align-self: end;
    padding: 0 2rem;
}

.status-symbol {
    width: 10px;
}