{% extends "base.html" %}
{% load static %}

<!-- Add new account page specific head elements -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/add-account.css' %}">
<title>Add New Account</title>
{% endblock head %}

<!-- Add new account page content -->
 {% block content %}

 <!-- Form for user to add new account -->
 <form id="new-account-form" action="{% url 'add-account' %}" method="POST">
    <h2>Add<br>New Account</h2>
    {% csrf_token %}
    <input type="hidden" name="secret-data" value="">
    <input type="text" name="account-title" id="account-title" placeholder="Enter name for account" require>
    <input type="text" name="email-or-username" id="email-or-username" placeholder="Enter username or email">
    <input type="password" name="password" id="password" placeholder="Enter password for account">
    <input type="password" name="m-password" id="m-password" placeholder="Enter master password">
    <textarea rows="6" maxlength="1500" name="additional-data" id="additional-data" placeholder="Enter any additional account information."></textarea>

    <div id="form-btn-container">
        <button type="button"><a class="button-size" href="{% url 'view-all-accounts' %}">Cancel</a></button>
        <button class="button-size" type="submit">Add Account</button>
    </div>
    
 </form>
 
 {% endblock content %}


 <!-- Script specific for this page -->
 {% block script %} <script type="module" src="{% static 'js/add-account.js' %}"></script> {% endblock script %}

