{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/edit-saved-account.css' %}">
    <title>Edit Saved Account</title>
{% endblock head %}


<!-- Edit saved account page specific content -->
 {% block content %}

    <form id="edit-account-form" action="{% url 'edit-saved-account' account.id %}" method="POST">
        <h2>{{ account }}</h2>
        {% csrf_token %}

        <input type="hidden" name="secret-data" value="">
        <input type="hidden" name="enc-username-or-email" value="{{ account.encrypted_username_or_email }}">
        <input type="hidden" name="username-or-email-iv" value="{{ account.username_or_email_iv }}">
        <input type="hidden" name="enc-password" value="{{ account.encrypted_password }}">
        <input type="hidden" name="password-iv" value="{{ account.password_iv }}">

        <label for="account-title">Account Title</label>
        <input type="text" name="account-title" id="account-title" value="{{ account.account_title }}" required>

        <label for="username-or-email">New Username or Email</label>
        <input type="text" name="username-or-email" id="username-or-email">
        <small>You cannot edit existing username or email only replace the original.<br>If you do not want to change this field leave it blank.<br>Spaces not allowed</small>

        <label for="password">New Password</label>
        <input type="password" name="password" id="password">
        <small>You cannot edit existing password only replace the original.<br>If you do not want to change this field leave it blank.<br>Spaces not allowed</small>

        <div id="form-btn-container">
            <button type="button"><a class="button-size" href="{% url 'view-all-accounts' %}">Discard Changes</a></button>
            <button class="button-size" type="submit">Save Changes</button>
        </div>
    </form>
    
    
 {% endblock content %}

 {% block script %}<script type="module" src="{% static 'js/edit-saved-account.js' %}"></script>{% endblock script %}