{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Password Manager Homepage</title>
{% endblock head %}

<!-- Index page content -->
{% block content %}
    <section id="home-img-container">
        <img src="{% static 'images/pm-website-bg.jpg' %}" alt="Index page header img displaying person on a password manager website">
    </section>
    <section id="pwd-manager-intro">
        <div id="intro-text-container">
           <p>With our Password Manager, your login credentials aren't just saved; they are securely encrypted so that only you can access them not us.
             This gives you the freedom to log in and access your passwords from anywhere.
              Say goodbye to the frustration of the 'Forgot Password' loop every time you try to access an old account.
               Furthermore, you can finally break the dangerous habit of reusing the same password across multiple websites.
                Now, you can easily use unique, complex passwords for every single site without the burden of having to memorize them all.</p>
        </div>
    </section>
    <section id="pwd-section">
        <div><a href="#">View Passwords</a></div>
        <div><a href="#">Add Password</a></div>
    </section>
    <h3 class="section-header">About Us</h3>
    <section id="about-section">
        <div id="about-text-container">
            <p>

            </p>
        </div>
    </section>

    {% block script %}<script type="module" src="{% static 'js/index.js' %}"></script>{% endblock script %}
{% endblock content %}
    

