{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Password Manager</title>
{% endblock head %}

<!-- Index page content -->
{% block content %}
    <section id="new-accounts-section">
        <h2 id="new-accounts-header">New Accounts &uArr;</h2>
        <div id="new-accounts-container">
            <div class="new-account">
                <p><a class="saved-account-link" href="#">Account Name &rArr;</a></p>
            </div>
        </div>
    </section>
    <section id="accounts-section">
        <h2 id="accounts-header">Accounts</h2>
        <div id="account-container-content">
            <input type="search" name="account-search" id="account-search" placeholder="Search Accounts">
            <div id="accounts-container">
                <div class="account">
                    <p><a class="saved-account-link" href="#">Account Name &rArr;</a></p>
                </div>
                <div class="account">
                    <p><a class="saved-account-link" href="#">Account Name &rArr;</a></p>
                </div>
                <div class="account">
                    <p><a class="saved-account-link" href="#">Account Name &rArr;</a></p>
                </div>
            </div>
        </div>
    </section>
    
{% endblock content %}
    

