{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/view-account.css' %}">
    <title>Viewing Saved Account</title>
{% endblock head %}


<!-- View saved account page specific content -->
 {% block content %}
    <p class="fast-hidden" id="iv">{{ account.iv }}</p>
    
    <section id="acc-info-container">
        <h2 id="acc-info-header">{{ account }}</h2>
        <div id="acc-info">
            <p><span class="info-header">Account Username or Email</span><span class="info" id="username-or-email">{{ account.encrypted_username_or_email }}<span></p>
            <p><span class="info-header">Account Password</span><span class="info" id="password">{{ account.encrypted_password }}</span></p>
        </div>
        <button><a href="{% url 'view-all-accounts' %}">Back</a></button>
    </section>
    

    {% block script %}<script type="module" src="{% static 'js/view-account.js' %}"></script>{% endblock script %}
 {% endblock content %}