{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/change-pwd.css' %}">
    <title>Register</title>
{% endblock head %}
{% block header %}{% endblock header %}
<!-- Change password page content -->
{% block content %}

    <!-- User change password form -->
    <form id="change-pwd-form" action="{% url 'change-password' %}" method="POST" data-check-img-url ="{% static 'images/Green-Checkmark.svg' %}" data-x-img-url ="{% static 'images/Red-X.svg' %}">
        <h1 id="change-pwd-header">Change<br>Password</h1>
        {% csrf_token %}
        <div class="input-container">
            <input type="password" name="{{ form.old_password.name}}" id="{{ form.old_password.id_for_label }}" placeholder="Enter old password" required>
        </div>

        <div class="input-container">
            <input type="password" name="{{ form.new_password1.name}}" id="{{ form.new_password1.id_for_label }}" placeholder="Enter new password" required>
            <small id="password1-status-msg">Password must be atleast 8 characters <img id="password1-status-symbol" class="status-symbol" src="{% static 'images/Red-X.svg' %}" alt="Field status symbol"></small>
        </div>    

        <div class="input-container">
            <input type="password" name="{{ form.new_password2.name}}" id="{{ form.new_password2.id_for_label }}" placeholder="Confirm new password" required>
            <small id="password2-status-msg" class="">Passwords must match <img id="password2-status-symbol" class="status-symbol" src="{% static 'images/Red-X.svg' %}" alt="Field status symbol"></small>
        </div>  

        <div id="change-pwd-btn-container">
            <button type="button"><a class="button-size" href="{% url 'user-account' %}">Cancel</a></button>
            <button id="change-pwd-btn" class="button-size disable-effects" type="submit" disabled>Save</button>
        </div>
    </form>
{% endblock content %}
{% block script %}<script src="{% static 'js/change-pwd.js' %}"></script>{% endblock script %}