{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
    <title>Login</title>
{% endblock head %}
{% block header %}{% endblock header %}
<!-- Login page content -->
{% block content %}

    <!-- Form that allows users to log in -->
    <form id="login-form" action="{% url 'login' %}" method="POST">
        <h1 id="login-header">Login</h1>
        {% csrf_token %}
        
        <input type="text" name="username" id="username" placeholder="Enter username" required>
        <input type="password" name="password" id="password" placeholder="Enter password" required>
        <small>{% if attempts_left != 5 %}Remaining attempts before temporary lockout: {{ attempts_left }}{% endif %}</small>
        
        <div id="login-btn-container">
            <button type="button"><a class="button-size" href="{% url 'index' %}">Cancel</a></button>
            <button class="button-size" type="submit">Log In</button>
        </div>

        <!-- Register and reset password links -->
        <div id="login-info-container">
            <p>Forgot your password? Reset it <a href="{% url 'password_reset' %}">here</a>.</p>
            <p>New user? Sign up <a href="{% url 'register' %}">here</a>.</p>
        </div>
    </form>
{% endblock content %}
    
