{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/success.css' %}">
    <title>Email Sent</title>
{% endblock head %}
{% block header %}{% endblock header %}
<!-- Confirm email sent page content -->
{% block content %}
<section id="sent-msg-container">
    <h2>Email Sent!</h2>
    <p>If the email you entered was linked to a user account you will recieve an email shortly with a password reset link.</p>
    <button><a class="button-size" href="{% url 'index' %}">Go To Homepage</a></button>
</section>
{% endblock content %}