{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/success.css' %}">
    <title>Email Sent</title>
{% endblock head %}
{% block header %}{% endblock header %}
<!-- Confirm email sent page content -->
{% block content %}
<section id="sent-msg-container">
    <h2>Password Changed!</h2>
    <p>Your password has been successfully change you may now login using your new password.</p>
    <button><a class="button-size" href="{% url 'login' %}">Go To Login</a></button>
</section>
{% endblock content %}