{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/password-reset-styles.css' %}">
    <title>Reset Password</title>
{% endblock head %}
{% block header %}{% endblock header %}
<!-- Reset password form page content -->
{% block content %}

    <!-- Form that allows users to reset password if forgotten -->
    <form id="password-reset-form" method="POST">
        <h1 id="password-reset-header">Reset Password</h1>
        {% csrf_token %}
        <input type="email" name="{{form.email.name}}" id="{{ form.email.id_for_label}}" placeholder="Enter email" required>

        <div id="password-reset-btn-container">
            <button type="button"><a class="button-size" href="{% url 'login' %}">Cancel</a></button>
            <button class="button-size" type="submit">Reset</button>
        </div>
    </form>
{% endblock content %}