{% extends "base.html" %}
{% load static %}

<!-- Page specific head elements -->
{% block head %}
    <link rel="stylesheet" href="{% static 'css/accounts/register.css' %}">
    <title>Register</title>
{% endblock head %}
{% block header %}{% endblock header %}
<!-- Registration page content -->
{% block content %}

    <!-- User registration form -->
    <form id="register-form" action="{% url 'register' %}" method="POST" data-check-img-url ="{% static 'images/Green-Checkmark.svg' %}" data-x-img-url ="{% static 'images/Red-X.svg' %}">
        <h1 id="register-header">Register</h1>
        {% csrf_token %}
        <input type="hidden" name="profile-data" value="">
        <div class="input-container">
            <input type="text" name="username" id="username" placeholder="Enter username" required>
        </div>

        <div class="input-container">
            <input type="email" name="email" id="email" placeholder="Enter email" required>
        </div>

        <div class="input-container">
            <input type="password" name="password1" id="password1" placeholder="Enter password" required>
            <small id="password1-status-msg">Password must be atleast 8 characters. <img id="password1-status-symbol" class="status-symbol" src="{% static 'images/Red-X.svg' %}" alt="Field status symbol"></small>
            <small>This password will be used to login your account.</small>
        </div>    

        <div class="input-container">
            <input type="password" name="password2" id="password2" placeholder="Confirm password" required>
            <small id="password2-status-msg" class="">Must match user password. <img id="password2-status-symbol" class="status-symbol" src="{% static 'images/Red-X.svg' %}" alt="Field status symbol"></small>
        </div>  
         <div class="input-container">
            <input type="password" name="m-password" id="m-password" placeholder="Enter master password" required>
            <small id="m-status-msg" class="">Master password must be atleast 12 characters long and cannot match your user password. <img id="m-status-symbol" class="status-symbol" src="{% static 'images/Red-X.svg' %}" alt="Field status symbol"></small>
            <small>You will be required to enter this password everytime you access stored accounts.<br><span class="warning">It is not able to be reset or retrievable so make make sure it something you will remember.</span></small>
        </div> 
         <div class="input-container">
            <input type="password" name="m-password2" id="m-password2" placeholder="Confirm master password" required>
            <small id="m2-status-msg" class="">Must match master password. <img id="m2-status-symbol" class="status-symbol" src="{% static 'images/Red-X.svg' %}" alt="Field status symbol"></small>
        </div> 

        <div id="register-btn-container">
            <button type="button"><a class="button-size" href="{% url 'login' %}">Cancel</a></button>
            <button id="register-btn" class="button-size disable-effects" type="submit" disabled>Register</button>
        </div>
    </form>
{% endblock content %}
{% block script %}<script type="module" src="{% static 'js/register.js' %}"></script>{% endblock script %}