#change-pwd-btn {
    width: 100% !important;
}

#key-expired-msg {
    text-align:center;
    color: #294659;
    font-size: 2rem;
}

#back-to-login-btn {
    width:200px;
    padding: .5rem;
    background-color: #294659;
    border-radius: .5rem;
    box-shadow: 1px 1px 4px black;
    &:hover {
        box-shadow: 2px 2px 4px black;
    }
}

#back-to-login-btn a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    text-shadow: 1px 1px 2px black;
}