/* account page header styles */
#account-header {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: #294659;
    text-shadow: 0px 0px 1px black;
    margin-bottom: 30px;
    &:hover {
        cursor:default;
    }
}


/* account form styles */
#account-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    width: 80%;
    min-width:275px;
    max-width: 450px;
    box-shadow: 5px 5px 10px black;
    padding: 5rem 0;
    border-radius: .5rem;
    @media (max-width:600px) {
        padding: 2rem 0;
    }
}
.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#account-form input {
    padding: .4rem 1rem;
    width: 90%;
    min-width: 200xp;
    border-radius: .5rem;
    font-size: 1rem;
    &:focus {
        box-shadow: 2px 2px 10px black;
        outline: none;
    }
    &::placeholder {
        font-weight: bold;
    }
}

/* Change password button styles */
#change-pwd-btn {
    width: 90%;
    background-color: #294659;
    border-radius: .5rem;
    border:1px solid black;
    box-shadow: 0px 0px 2px black;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 4px black;
    &:hover{
        box-shadow: 2px 2px 10px black;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 2px 2px 10px black;
    }
}

#change-pwd-btn a {
    color: white;
    text-decoration: none;
    display: block;
}


/* Cancel and Save button styles */
#account-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 90%;
    min-width: 200px;
}

#account-btn-container button {
    min-width: 100px;
    width: 49%;
    background-color: #294659;
    border-radius: .5rem;
    border:1px solid black;
    box-shadow: 0px 0px 2px black;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 4px black;
    &:hover{
        box-shadow: 2px 2px 10px black;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 2px 2px 10px black;
    }
}

#account-btn-container a {
    color: white;
    text-decoration: none;
    display: block;
}


.button-size {
    padding: .5rem 0;
}

small {
    text-align: left;
    width: 85%;
}
